:root {
  --blue-main: #08A6E4;
  --blue-main2: #07ACE6;
  --grey1: #00000029;
  --grey2: #a5a5a5;
  --black: #000000;
  --white: #FFFFFF;
  --whitegrey: #F7F7F7;
  --cream: #E8E9ED;
  --red: #FB3B64;
  --mint: #55DFB4;
  --greyx: #95989A;
  --inputborder: var(--greyx);
  --accent1: var(--red);
  --accent2: var(--blue-main);
  --accent3: var(--mint);
  --main-font: "Raleway", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}
