
footer {
  width: 100%;
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.logo {
      font-family: var(--main-font);
      font-size: 26px;
      line-height: 30px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: var(--blue-main);
      .copy {
        font-size: 0.6875rem;
        line-height: 1.5rem;
        color: var(--grey2);
        margin-top: 6px;
        font-family: var(--secondary-font);
        font-weight: 400;
      }
    }
    .social a:first-of-type {
      margin-right: 25px;
    }
  }
}
